/* Tablet */

/* Add breakpoint at max-width 1000 px */
/* @media (max-width: 1000) {
  .lessons {
    width: 50%;
  }
} */

@media (max-width: 1000px) {
  .lesson {
    width: 50%;
  }
}

@media (max-width: 670px) {
  .lesson {
    width: 100%;
  }
  .btn {
    width: 100%;
  }
  .facebook {
    margin-bottom: 10px;
  }
  .top-wrapper h1 {
    font-size: 32px;
  }
  .top-wrapper p {
    font-size: 20px;
  }
}

@media (min-width: 992px) {
  .header-right:last-child i {
    display: none;
  }
}

@media (max-width: 991px) {
  .header-right > a:nth-child(-n + 3) {
    display: none;
  }
}
